<div class="container">
    <div class="row mb-1">
        <div class="col-lg-8 mx-auto">
        <div class="bg-light p-5 rounded shadow">
            <form action="/book/search" method="GET">
            <div class="p-2 bg-light rounded-pill shadow-sm mb-3">
                <div class="input-group">
                <input type="search" placeholder="Start searching ..." aria-describedby="button-addon1" class="form-control border-0 bg-light" name="title">
                <div class="input-group-append">
                    <button id="button-addon1" type="submit" class="btn btn-link text-primary"><i class="fa fa-search"></i></button>
                </div>
                </div>
            </div>
         </div>
        </div>
    </div>
</div>
