{{#section 'head'}}
  <link rel="stylesheet" type="text/css" href="/css/home.css" />
  
{{/section}}

{{> navbar}}

<div class="container">
  <div class="row py-5">
    <div class="col-lg-8 mx-auto text-white text-center">
      <h1 class="display-4">Online Books</h1>
      <p class="lead mb-0">Start reading a vast amount of books.</p>
      <p class="lead">Designed by <a href="#" class="text-white">
                <u>AR Group</u></a>
      </p>
    </div>
  </div>
</div>

{{> searchbar}}

{{#section 'scripts'}}

{{/section}}